p{
    color:blueviolet;
    font size:56px;
    text-decoration:doted;
}
.apply-color{
    text-decoration:underline;
    text-transforma;uppercase;
    font-family:'Gilll sans'.'gill sans MT',calibri,'rebuchet ms',sans-serif;
    font: size 20px;
}
.change-color{
    color:red;
}
.change-color1{
    color:burlywood;
}
.apply-color2{
    color:grey;
}